h2 {
  margin: 30px 0 0 0;
}

.cubeAndCaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cubePicture {
  max-width: 70%;
}

/* width is forced to max since the document flexes vertically */
.cubeRow {
  display: flex;
  justify-content: center;
}

.documentationDiv {
  display: flex;
  flex-direction: column;
  /* since the navbar is taken out of flow with position: fixed; this pushes the elements down */
  margin-top: 70px;
  padding: 0px 4% 40px 4%;
}

.cubeAndCaption p {
  /* p may be aligned within cubeAndCaption, but the text inside isn't, this is needed for when the caption is too long as per tony's explanation */
  text-align: center;
}

.documentationDiv a {
  color: #bb86fcc2;
  font-weight: bold;
  text-decoration: none;
}

.documentationDiv h2,
.documentationDiv h3,
.documentationDiv p,
.documentationDiv li {
  color: white;
}

.documentationDiv hr {
  margin: 30px 0;
}

.madeThisContainer {
  display: flex;
}

.madeThisContainerBlurb {
  flex: 1;
  padding: 0 250px;
}

#madeThis {
  margin-top: 30px;
}

.tableOfContents {
  border-radius: 15px;
  display: flex;
  margin-top: 30px;
  padding: 20px;
}

.technicalTable,
.generalTable,
.relevantLinksTable {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.youtubeVideo {
  min-width: 420px;
}

/** light mode */
.light .documentationDiv a {
  color: #6200ee;
}

.light .documentationDiv h2,
.light .documentationDiv h3,
.light .documentationDiv p {
  color: #313131;
}