.errorPopup {
  border-radius: 5px;
  padding: 10px;
  width: max-content;
  max-width: 300px;
  position: fixed;
  z-index: 1;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}
