.errorPopup {
  border-radius: 5px;
  padding: 10px;
  width: max-content;
  max-width: 300px;
  position: fixed;
  /* top: 510px;
  left: 120px; */
  z-index: 1; /* TODO: understand */
  /* left: 50%; */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  /* TODO: position is being set relative to a parent */
}

/* TODO: error is flashing again */
