.documentationDiv {
  padding: 40px 4%;
  display: flex;
  flex-direction: column;
}

.documentationDiv p, .documentationDiv h2 {
  color: white;
}

.documentationDiv a {
  text-decoration: none;
  color: #bb86fcc2;
  font-weight: bold;
}

.documentationDiv hr {
  margin: 30px 0;
}

.cubeRow {
  display: flex;
  justify-content: center;
  /* width is forced at max since the document flexes vertically */
}

.cubeAndCaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.cubePicture {
  max-width: 70%;
}

.cubeAndCaption p {
  text-align: center;
}

/** light mode */
.light .documentationDiv p, .light .documentationDiv h2 {
  color: #313131;
}

.light .documentationDiv a {
  color: #6200EE;
}