/* media queries */

@media (max-width: 1600px) {
  .topRightHalf {
    padding: 25px 0 45px 0;
  }
}

@media (max-width: 1560px) {
  .topRightHalf {
    padding: 40px 0 60px 0;
  }
}

@media (max-width: 1430px) {
  .topRightHalf {
    padding: 60px 0 80px 0;
  }

  .queryFormWithSpacing {
    padding: 50px 0 0 30px;
    }

    .bottomHalf {
      padding: 30px 30px 30px 30px;
    }
}

@media (max-width: 1340px) {
  .queryFormWithSpacing {
    padding: 90px 0 0 30px;
    }
}



@media (max-width: 1100px) {

  .topRightHalf {
    padding: 80px 0px 100px 0px;
  }

}

@media (max-width: 940px) {
  .topRightHalf {
    padding: 100px 20px 120px 20px;
  }
}