@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-delay: 1s;
  animation-duration: 1s;
}

.movesetPopupError {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 0 10px;
  color: #fff;
}

/* TODO: fix arrangement of popups and icon stylings */
