li a {
  color: white;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

/* don't need to handle sticky hover for mobile, as when we click on a page in mobile it will always change to be active */
li a:hover:not(.active) {
  background-color: #1e1e1e;
}

.active {
  color: #0f0f0f;
}

.navbarDiv {
  align-items: center;
  /* center the toggle */
  background-color: #121212;
  /* set color so when scrolling the navbar is not see through */
  display: flex;
  justify-content: space-between;
  /* navbar contains the UL and the toggle so this spaces them out */
  position: fixed;
  /* make navbar stay on the top, particularly for documentation page */
  width: 100%;
  /* expand to width of the page */
  z-index: 1;
  /* scramble circle icon would appear above when scrolled otherwise */
}

.navbarUl {
  display: flex;
  list-style-type: none;
  padding-left: 3vw;
}


/** light mode */
.light li a {
  color: #313131;
}

/* don't need to handle sticky hover for mobile, as when we click on a page in mobile it will always change to be active */
.light li a:hover:not(.active) {
  background-color: #d6d3d3;
}

.light .active {
  color: #f3f1fe;
}

.light .navbarDiv {
  background-color: #fff;
}


/** media queries */

@media (max-width: 372px) {

  /* on very thin screens make the nav elements closer together */
  .navbarUl {
    padding-left: 10px;
  }
}

@media (max-width: 300px) {

  /* the navbar text is too big */
  .navbarDiv {
    font-size: 12px;
  }
}