.light .active {
  background-color: #6200EE;
  color: #F3F1FE;
}

body.light {
  /* background-color: #E5E5E5; */
  background-color: #FFF;
}

.light li a {
  color: #313131;
}

.light .innerBottomHalf {
  /* background-color: #FAFAFA; */
  background-color: #F2F2F2;

}

.light .interactable {
  /* background-color: #FAFAFA; */
  background-color: #F2F2F2;
}

.light .label {
  background-color: #c1c1c164;
  color: #313131;
}

.light li a:hover:not(.active) {
  background-color: #d6d3d3;
}

.light .circleIconScramble, .light .circleIconDepth,
.light .circleIconMoveset, .light .circleIconSolutions {
  color: #313131;
}

.light .submitButton {
  color: #313131;
}

.light .scrambleInput, .light .depthInput, .light .movesetButton, .light .solutionLi {
  color: #313131;
}

.light .scrambleInput:hover:not(:focus), .light .depthInput:hover:not(:focus) {
  background-color: #d6d3d3;
}

.light .movesetButton:hover:not(.isToggled), .light .submitButton:hover {
  background-color: #d6d3d3;
}

.light .isToggled {
  color: #F3F1FE;
  background-color: #6200EE;
}

.light .sortButton {
  background-color: #F2F2F2;
  color: #313131;
}

.light .sortButton:hover {
  background-color: #d6d3d3;
}
