.documentationDiv {
  padding: 40px 80px 40px 80px;
  /* test */
  display: flex;
  flex-direction: column;
}

.documentationDiv p, .documentationDiv h2 {
  color: white;
}

.documentationDiv a {
  text-decoration: none;
  color: #bb86fcc2;
  font-weight: bold;
}

.documentationDiv hr {
  margin: 30px 0;
}

.cubeRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.spacerDiv2 {
  flex: 1;
}

.cubeAndCaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.cubePicture {
  max-width: 200px;
  max-height: 200px;
}

.cubeAndCaption p {
  text-align: center;
}

.light .documentationDiv p, .light .documentationDiv h2 {
  color: #313131;
}

.light .documentationDiv a {
  color: #6200EE;
}

@media (max-width: 562px) {
  .cubePicture {
    max-width: 150px;
    max-height: 150px;
  }

  .documentationDiv {
    padding: 0 20px;
  }
}