body {
  /* react boilerplate */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* my styling */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #121212;
  /* ? 18191A fb dark mode background */
}

/* react boilerplate */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * DIV layout:
*
*/

.fakeBodyDiv {
  height: 100vh;
   /* our fakeBodyDiv will take up the whole screen height */
}

/* outer boxes */
.wholePageMinusNav {
  display: flex; /* the whole page contains the topHalf and bottomHalf, it will be a flex container to flex these two children vertically. The whole page should have a flex of 1, to take up any remaining space that the navbar does not occupy */
  flex-direction: column;
  height: calc(100% - 78px); /* 78px is navbar height */
  /* TODO: change calc */
  /* TODO:editing background-color: green; */
}

.topHalf {
  /* TODO:editing background-color: blue; */
  display: flex;
  justify-content: space-between;
  min-height: 460px;
  /* TODO: is the top half even needed? since it should just flex the items */
  /* TODO: flex might not be needed, think more about min height and stuff */
  flex: 2; /* the top half will occupy 2/3rds of the vertical height of the body, */
  /* ! when I vertically shrink the page why doesn't this div keep shrinking past a point, I would expect it to overflow the container */
}

.phoneDragText {
  display: none;
}




