/* top left panel */
.queryFormWithSpacing {
  width: 100%;
  max-width: 650px;
  height: 100%;
  padding: 50px 0 0 90px;
  flex: 1;
}

.interactable {
  color: #A7A7A7;
  background: #222222;
  width: 100%;
}

.scrambleInput, .depthInput {
  height: 50px;
  padding-left: 35px;
  outline: none;
  border: none;
  display: inline;
  overflow: visible;
  color: #A7A7A7;
  box-sizing: border-box;
  font-weight: bold;
}

.scrambleInput:hover:not(:focus), .depthInput:hover:not(:focus) {
  background: #4C4C4C;
}

.scrambleInput:focus::placeHolder, .depthInput:focus::placeholder {
  color: transparent;
}


.label {
  display: block;
  color: #E4E4E4;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #1E1E1E;
  font-size: 0.8rem;
  line-height: 2;
}

.scrambleLabel {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

::selection {
  color: #FCFDFC;
  background: #5E81A8;
}

.depthPanel {
  box-sizing: border-box;
}

.depthInput {
  width: 100%;
}

.movePanel {
  box-sizing: border-box;
}

.buttonGrid {
  width: 100%;
}

.buttonGrid > .movesetButton:nth-child(13) {
  border-bottom-left-radius: 20px;
}
.buttonGrid > .movesetButton:nth-child(18) {
  border-bottom-right-radius: 20px;
}

.movesetButton {
  width: calc(100% / 6);
  height: 30px;
  border: none;
  border-radius: 0;
  font-weight: bold;
  cursor: pointer;
  /* padding: 10px; TODO ADD SPACING*/
}

.button:hover:not(.isToggled) {
  background-color: #4C4C4C;
  transition: 0.2s;
}

.isToggled {
  background-color: #bb86fcc2;
  color: #0F0F0F;
  transition: 0.2s;
}

.submitButton {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: block;
  border: none;
  border-radius: 15px;
  color: #E4E4E4;
  font-weight: bold;
  cursor: pointer f;
}

/* icons */
.circleIconScramble, .circleIconDepth, .circleIconMoveset {
  margin-left: 4px;
  color: #E4E4E4;
}


.light .interactable {
  /* background-color: #FAFAFA; */
  background-color: #F2F2F2;
}

.light .label {
  background-color: #c1c1c164;
  color: #313131;
}



.light .circleIconScramble, .light .circleIconDepth,
.light .circleIconMoveset, .light .circleIconSolutions {
  color: #313131;
}

.light .submitButton {
  color: #313131;
}

.light .scrambleInput, .light .depthInput, .light .movesetButton, .light .solutionLi {
  color: #313131;
}

.light .scrambleInput:hover:not(:focus), .light .depthInput:hover:not(:focus) {
  background-color: #d6d3d3;
}

.light .movesetButton:hover:not(.isToggled), .light .submitButton:hover {
  background-color: #d6d3d3;
}

.light .isToggled {
  color: #F3F1FE;
  background-color: #6200EE;
}

