.toggle {
  height: 28px;
  width: 48px;
  padding: 0 4px; /* override default */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;

  border-radius: 15px;
  /* height / 2 */

  /* position: relative;
  left: 355px;
  top: 40px; */
}

.thumb {
  box-sizing: border-box;
  padding: 0; /* override default */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #334155;
  border: none;
  transition: transform 0.4s;
  /* position: relative;
  right: 5px; */
}

.light .thumb {
  transform: translateX(calc((48px - 4px) - (4px + 20px)));
  /* right border of thumb in left position = toggle left padding + thumb width = 24px */
  /* need to move that border to: toggle width - toggle right padding position = 48-4 = 44px */
  /* total translate = #2 - #1 */
  background-color: #e2e8f0;
}

.light .toggle {
  background-color: #334155;
}

.light .toggle:hover {
  background-color: #1E293B;
}


.toggle:hover {
  background-color: #d5d5d5;
}

