.toggle {
  height: 28px;
  width: 48px;
  padding: 0 4px; /* override default */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;

}

.toggle:hover {
  background-color: #d5d5d5;
}

.thumb {
  box-sizing: border-box;
  padding: 0; /* override default */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #313131;
  border: none;
  transition: transform 0.4s;
}

.light .toggle {
  background-color: #6200EE;
}

.light .toggle:hover {
  background-color: hsl(265, 100%, 39%);
}

.light .thumb {
  transform: translateX(calc((48px - 4px) - (4px + 20px)));
  /* right border of thumb in left position = toggle left padding + thumb width = 24px */
  /* need to move that border to: toggle width - toggle right padding position = 48-4 = 44px */
  /* total translate = #2 - #1 */
  background-color: #E7E7E7;
}



