.toggle {
  height: 28px;
  width: 48px;
  padding: 0 4px;
  /* override default */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-right: 2vw;
}

@media (hover: hover) {
  /* get rid of sticky hover when clicking in a field on mobile */
  .toggle:hover {
    background-color: #d5d5d5;
  }
}

.thumb {
  box-sizing: border-box;
  padding: 0;
  /* override default */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #313131;
  border: none;
  transition: transform 0.4s;
}

/** light mode */

.light .toggle {
  background-color: #6200ee;
}

@media (hover: hover) {
  /* get rid of sticky hover when clicking in a field on mobile */
  .light .toggle:hover {
    background-color: #5300c7;
  }
}

.light .thumb {
  transform: translateX(calc((48px - 4px) - (4px + 20px)));
  /* right border of thumb in left position = toggle left padding + thumb width = 24px */
  /* need to move that border to: toggle width - toggle right padding position = 48-4 = 44px */
  /* total translate = #2 - #1 */
  background-color: #e7e7e7;
}

/** media queries */
@media (max-width: 850px) {
  .toggle {
    margin-right: 4vw;
  }
}
