body {
  /* react boilerplate */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* my styling */
  -webkit-tap-highlight-color: transparent;
  /* remove blue flash on some responsive sites */
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

button {
  /* override user style sheet */
  letter-spacing: 0.01rem;
}

/* react boilerplate */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background-color: #5e81a8;
  color: #e4e4e4;
}

.accentColor {
  background-color: #926ac3;
}

.errorColor {
  background-color: #cf6679;
  color: black;
}

.mainColor {
  background-color: #1e1e1e;
}

.mainText {
  color: #e4e4e4;
}

.secondaryColor {
  background-color: #222;
}

.topHalf {
  display: flex;
  /* ? top half can be removed and just the items are used */
  flex: 1;
  /* the top half will occupy 1/2 of the solvePageMinusNav height */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* root should always take full VH unless the content overflows it such as small screens for the solve page, or the documentation page, which will cause scrollbars */
}

/** light mode */

body.light {
  background-color: #fff;
}

.light .accentColor {
  background-color: #6200ee;
}

.light .errorColor {
  background-color: #b00020;
  color: white;
}

.light .mainColor {
  background-color: #e7e7e7;
}

.light .mainText {
  color: #313131;
}

.light .secondaryColor {
  background-color: #f2f2f2;
}

/** media queries */

@media (max-width: 767px) {
  .topHalf {
    align-items: center;
    /* top half should be center on a mobile view */
    flex-direction: column;
    /* flex the queryFormContainer and cubePanel vertically */
    flex: 1;
    /* top half takes up more space compared to solutions display when in vertical flex mode */
    max-height: 700px;
    /* in the stacked few, prevent the cube from becoming too big */
    width: 100%;
    /* top half should now fill the width of the wholePageMinusNavbar div */
  }
}

@media (min-width: 768px) {

  /* in the normal side by side view, prevent the cube from growing by limiting .topHalf */
  .topHalf {
    max-height: 450px;
  }
}


/** TODO: repaint whole window question */