@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: fadeOut;
}

.copyPopup {
  border-radius: 10px;
  color: #fff;
  left: 50%;
  padding: 0 10px;
  position: fixed;
  top: 50%;
  transform: translate(-50%);
}

.errorPopup {
  border-radius: 5px;
  left: 50%;
  max-width: 300px;
  padding: 10px;
  position: fixed;
  position: fixed;
  top: 55%;
  transform: translate(-50%);
  width: max-content;
  z-index: 1;
}

.movesetPopupError {
  border-radius: 5px;
  color: #fff;
  left: 50%;
  padding: 0 10px;
  position: fixed;
  top: 50%;
  transform: translate(-50%);
}