.queryFormContainer .icon {
  margin-left: 4px;
}

.solutionsIcon {
  margin-left: 4px;
}

.iconAndPopup {
  position: relative; /* allows positioning for popup */
}

.popup {
  display: none; /* by default do not show or take up space */
  position: absolute; /* positioned relative to the .iconAndPopup */
  left: 30px;
  border: 1px solid black;
  z-index: 0;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: none; /* override all caps that came from the labels */
  font-size: 14px;
  line-height: 1.5;
}

.scramblePopup,
.depthPopup,
.movesetPopup {
  font-weight: 500; /* override label font-weight */
}

/* add some margins between p tags for spacing */
.popup p {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* needed to handle the scramble as we don't want that to split into two lines */
.scramblePopup {
  width: max-content;
}

/* base widths for the other popups, the popup will not tightly wrap the p element as you need JS for that */
.movesetPopup p {
  width: 250px;
}

.depthPopup p {
  width: 250px;
}

.solutionsPopup p {
  width: 305px;
}

/* make all tooltips visible on hover, display type does not really matter
on mobile, these function as buttons due to sticky hover */
.scrambleIcon:hover + .scramblePopup {
  display: inline;
}

.depthIcon:hover + .depthPopup {
  display: inline;
}

.movesetIcon:hover + .movesetPopup {
  display: inline;
}

.solutionsIcon:hover + .solutionsPopup {
  display: inline;
}

/** media queries */

/* when the screen is short enough make the tooltip appear above not below */
@media (max-height: 700px) {
  .solutionsPopup {
    bottom: 0;
  }
}

/* start to move over tooltips when width shrinnks */
@media (max-width: 525px) {
  .scramblePopup,
  .depthPopup,
  .movesetPopup {
    left: -50px;
    top: 20px;
  }
}

@media (max-width: 460px) {
  .scramblePopup {
    left: -70px;
  }
  .depthPopup,
  .movesetPopup {
    left: -120px;
  }
}

/* when near phone widths we reduce tooltips to a % of the screen, not yet needed for scramble */
@media (max-width: 420px) {
  .depthPopup p,
  .movesetPopup p,
  .solutionsPopup p {
    width: 50vw;
  }
  .scramblePopup p {
    width: max-content;
  }
}

/* at very thin views concede the max-width: content which was set to allow the scramble
to appear on one line */
@media (max-width: 330px) {
  .scramblePopup p {
    width: 50vw;
  }
}
