.queryFormContainer .icon {
  margin-left: 4px;
}

.solutionsIcon {
  margin-left: 4px;
}

.iconAndTooltip {
  position: relative; /* allows positioning for tooltip */
}

.tooltip {
  display: none; /* by default do not show or take up space */
  position: absolute; /* positioned relative to the .iconAndTooltip */
  left: 30px;
  border: 1px solid black;
  z-index: 1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: none; /* override all caps that came from the labels */
  font-size: 14px;
  line-height: 1.5;
}

.scrambleTooltip,
.depthTooltip,
.movesetTooltip {
  font-weight: 500; /* override label font-weight */
}

/* add some margins between p tags for spacing */
.tooltip p {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* needed to handle the scramble as we don't want that to split into two lines */
.scrambleTooltip {
  width: max-content;
}

/* base widths for the other tooltip, the tooltip will not tightly wrap the p element as you need JS for that */
.movesetTooltip p {
  width: 250px;
}

.depthTooltip p {
  width: 250px;
}

.solutionsTooltip p {
  width: 305px;
}

/* make all tooltips visible on hover, display type does not really matter
on mobile, these function as buttons due to sticky hover */
.scrambleIcon:hover + .scrambleTooltip {
  display: inline;
}

.depthIcon:hover + .depthTooltip {
  display: inline;
}

.movesetIcon:hover + .movesetTooltip {
  display: inline;
}

.solutionsIcon:hover + .solutionsTooltip {
  display: inline;
}

/** media queries */

/* when the screen is short enough make the tooltip appear above not below */
@media (max-height: 700px) {
  .solutionsTooltip {
    bottom: 0;
  }
}

/* start to move over tooltips when width shrinnks */
@media (max-width: 525px) {
  .scrambleTooltip,
  .depthTooltip,
  .movesetTooltip {
    left: -50px;
    top: 20px;
  }
}

@media (max-width: 460px) {
  .scrambleTooltip {
    left: -70px;
  }
  .depthTooltip,
  .movesetTooltip {
    left: -120px;
  }
}

/* when near phone widths we reduce tooltips to a % of the screen, not yet needed for scramble */
@media (max-width: 420px) {
  .depthTooltip p,
  .movesetTooltip p,
  .solutionsTooltip p {
    width: 50vw;
  }
  .scrambleTooltip p {
    width: max-content;
  }
}

/* at very thin views concede the max-width: content which was set to allow the scramble
to appear on one line */
@media (max-width: 330px) {
  .scrambleTooltip p {
    width: 50vw;
  }
}
